$light: #fff;
$light2: #f5f5f5;
$light3: #e1e1e1;
$grey: rgba(#000, .5);
$grey2: #c7c7c7;
$grey3: #9c9c9c;
$grey4: #dcdcdc;
$grey5: #7f7f7f;
$grey6: #7a7a7a;
$dark: #000;
$dark2: #0d0e1a;
$primary: #fee750;
$primaryLight: #ffed77;

 // admin 

 $admin_bar: #23282d;
