<h1>All ville</h1>


<% @villes.each do |ville| %>
	<div>
		<li><%= ville.label %></li>
		<li><%= ville.like %></li>
		<li>
			<%= link_to villes_edit_path(id: ville.id ), method: :get do %>
				edit
			<% end %>
		</li>
	
	</div>

	<br><br>
	

<% end %>

