<h1>All job</h1>


<% @jobs.each do |job| %>
	<div>
		<li><%= job.label %></li>
		<li>
			<%= link_to jobs_edit_path(id: job.id ), class:"post-author", method: :get do %>
				edit
			<% end %>
		</li>
	
	</div>

	<br><br>
	

<% end %>

