<div class="">
	<ul>
		<li class='header'>Admin</li>
		<li><%= link_to "Users", admin_home_path, method: :get %></li>
		<li><%= link_to "Portfolios", admin_portfolios_path, method: :get %></li>
		<li><%= link_to "Type", jobs_index_path, method: :get %></li>
		<li><%= link_to "Ville", villes_index_path, method: :get %></li>
	</ul>
</div>