body {

	.admin_form {
		.form-group{
			.form_content{
				clear: both;
				margin-bottom : 10px !important; 
			}
		}
		.actions{
			margin-top: 30px;
			float: right;
			margin-right: 15px;
		}
	}
}