body {
	.admin_bar {
		position: fixed; 
		height: 100vh; 
		top: 0;
		background: $admin_bar;
		padding:  0 ;

		.header{
			background: #191e23;
			color : white;
			text-transform: uppercase;
			border-bottom: 1px solid $dark2;
			padding: 20px 10px;
			display: block;
			width: 100%;
		}

		ul {
			padding : 0 ;
			list-style: none;
			color : white;
			li {
				width: 100%;

				&:hover{
					background : #191e23;
					a {
						color: $light;
					}
				}
				a {
					color : rgba($light, 0.5);
					padding: 20px 10px;
					display: block;
					width: 100%;
					cursor: pointer;
				}
			}
		}
	}
	
}